* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#marvel-cards {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(4, 1fr);
  padding: 3em;
}

.marvel-card {
  display: grid;
  gap: 1em;
  place-items: center;
  background-color: aliceblue;
  filter: drop-shadow(0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3));
  border-radius: 1em;
  font-size: 0.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  max-width: 20em;
  inset: 1;
}
